@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@100;200;300;400&display=swap');

 

:root{
    --v1: #F21B2D;
    --v2: #A6121F;
    --a1: #F29F05;
    --a2: #F2A950;
    --b1: #F2F2F2;
    --p1: #1B1613;
    --dark1: #0000004d;
    --dark2: #181c20;
    --dark3: #212529;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
    --red1: #902e31;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: linear-gradient(to bottom, var(--v1), var(--v2));
    height: 100vh;
}



section#login-container, section#signup-container{
    color: var(--b1);
    background-color: var(--dark3);
    width: 75%;
    height: 75%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px black);
    transition: .3s;
    transition-timing-function: ease;
}

section#login-container h1, section#signup-container h1{
    font-size: 2rem;
    margin: 50px auto;
    text-align: center;
}

div#form-container{
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);

    text-align: center;
    font-size: 1.5rem;
}


div#form-container input{
    display: block;
    height: 3.5em;
    width: 80%;
    
    padding: 15px;
    margin: 8px auto 50px;

    font-size: .75em;

    border-radius: 8px;
}

div#form-container input{
    height: 2.5em;
    min-width: 150px;

    font-size: 1.2rem;

    background-color: var(--dark8);
    color: var(--p1);
    

    border-radius: 8px;
    
    transition: .5s;
    transition-timing-function: ease-in;
}

div#form-container input:focus{
    border: 2px solid black;
    transition: .5s;

}

div#form-container input#signInButton, div#form-container input#signUpButton{
    background-color: var(--dark4);
    border: 1px solid var(--dark6);
    max-width: 200px;
    padding: 0;
    
    transition: .5s;

}

div#form-container input#signInButton:hover, div#form-container input#signUpButton:hover{
    background-color: var(--dark6);
    color: var(--b1);

    transition: .3s;
    transition-timing-function: ease-out;
}

div#task-container{
    width: 90%;
    height: 85%;
    margin: 50px auto;
    text-align: center;
    color: var(--b1);
    text-shadow: 2px 2px 1px black;
    filter: drop-shadow(2px 2px 5px black);
}

#task-container{
    padding: 20px;
    box-shadow: 3px 3px 20px var(--dark1);
    background: var(--dark3);
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;
}

#task-container header .filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries{
    color: var(--dark8);
}

.filterEntries .entries select, .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: .3s;
    cursor: pointer;
}


.filterEntries .entries select{
    padding: 5px 10px;
}

.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: var(--dark8);
    margin-right: 5px;
}


.filter input:focus{
    border-color: var(--dark7);
    transition: .3s;
    transition-timing-function: ease-out;
}

#task-container header #addTaskBtn {
    margin-bottom: 15px;
}

header #addTaskBtn button, .popup header .closeBtn, .popup footer .submitBtn{
    padding: 9px 14px;
    color: var(--dark8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    background: var(--dark4);
    border-radius: 5px;
    
}

#addTaskBtn button:hover{
    background: var(--dark5);
}


#task-container table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    text-align: left;
}

table .heading{
    background: var(--dark5);
    background: transparent;
    color: var(--dark8);
}

table .heading th:hover{
    background: var(--dark4);
    transition: 0.3s;
}

table tr th, table tr td{
    line-height: 2.5em;
    padding:3px 15px;
    color: var(--dark8);
    vertical-align: middle;
    width: fit-content;
}

table tr th{
    padding: 12px 15px;
}

table tr td:nth-child(1), table tr td:nth-child(2){
    text-align: center;
}

table tr td img{
    vertical-align: middle;
}
table tr:hover{
    cursor: pointer;
    background: var(--dark9);
}

table tr td{
    border-bottom: 1px solid var(--dark6);
}

table tbody tr:first-child td{
    border-top: 1px solid var(--dark6);
}

table tbody tr:nth-child(odd){
    background: var(--dark9);
}

table tbody tr:nth-child(odd) > td:nth-child(3){
    background: var(--dark4);
}

table tr td{
    font-size: 15px;
}

table td button{
    margin: 0 3px;
    padding: 5px;
    width: 35px;
    background: var(--dark5);
    color: var(--dark8);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark7);
}

#task-container footer{
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-container footer span{
    color: var(--dark8);
}

footer .pagination{
    display: flex;
}


footer .pagination button{
    width: 40px;
    padding: 5px 0;
    color: var(--dark8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    border-left: none;
    margin: 0;
}

.pagination button:first-child{
    width: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--dark6);
    opacity: 0.6;
    pointer-events: none;
}

.pagination button:last-child{
    width: 85px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.pagination button.active, .pagination button:hover{
    background: var(--red1);
}


.pagination button.act:first-child{
    opacity: 1;
    pointer-events: auto;
}

.pagination button.act:last-child{
    opacity: 1;
    pointer-events: auto;
}


table tr .empty{
    padding: 6px;
    background: var(--dark9);
}



/* Popup Form */

.dark_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}


.popup{
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    background: var(--dark6);
    transition: 1s;
    user-select: none;
    transform: scale(0.6);
    opacity: 0;
    visibility: hidden;
}

.popup header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark7);
    padding: 10px 20px;
}

.popup header .closeBtn{
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
}

.popup header .closeBtn:hover, .popup footer .submitBtn:hover{
    border-color: var(--dark7);
    transition: 0.3s;
}

.popup h2{
    color: var(--dark8);
}

.popup footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--dark7);
    padding: 12px 20px;
    text-align: right;
}

.popup form{
    padding: 10px 20px;
}


.inputFieldContainer .form_control{
    margin: 10px auto;
    width: 100%;
}

.inputFieldContainer .form_control label{
    display: block;
    color: var(--dark8);
    margin-bottom: 5px;
}

.form_control input{
    padding: 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.form_control input:focus,
.form_control input:valid{
    border-color: var(--dark7);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    display: none;
}


.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

h1#tittle{
    text-align: center;
    padding: 5px;
    color: var(--dark8);
}

.container{
    padding: 20px;
    box-shadow: 3px 3px 20px var(--dark1);
    background: var(--dark3);
    border-radius: 10px;
    margin: 10px;
    margin-top: 50px;
}

.container header .filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries{
    color: var(--dark8);
}

.filterEntries .entries select, .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}


.filterEntries .entries select{
    padding: 5px 10px;
}

.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: var(--dark8);
    margin-right: 5px;
}


.filter input:focus{
    border-color: var(--dark7);
}

.container header .addMemberBtn {
    margin-bottom: 15px;
}

header .addMemberBtn button, .popup header .closeBtn, .popup footer .submitBtn{
    padding: 9px 14px;
    color: var(--dark8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    background: var(--dark4);
    border-radius: 5px;
}

.addMemberBtn button:hover{
    background: var(--dark5);
}


.container table{
    border-collapse: collapse;
    text-align: left;
}

table .heading{
    background: var(--dark5);
    background: transparent;
    color: var(--dark8);
}

table .heading th:hover{
    background: var(--dark4);
    transition: 0.3s;
}

table tr th, table tr td{
    padding:3px 15px;
    color: var(--dark8);
    vertical-align: middle;
}

table tr th{
    padding: 12px 15px;
}

table tr td:nth-child(1), table tr td:nth-child(2){
    text-align: center;
}

table tr td img{
    vertical-align: middle;
}
table tr:hover{
    cursor: pointer;
    background: var(--dark9);
}

table tr td{
    border-bottom: 1px solid var(--dark6);
}

table tbody tr:first-child td{
    border-top: 1px solid var(--dark6);
}

table tbody tr:nth-child(odd){
    background: var(--dark9);
}

table tbody tr:nth-child(odd) > td:nth-child(3){
    background: var(--dark4);
}

table tr td{
    font-size: 15px;
}

table td button{
    margin: 0 3px;
    padding: 5px;
    width: 35px;
    background: var(--dark5);
    color: var(--dark8);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark7);
}

.container footer{
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container footer span{
    color: var(--dark8);
}

footer .pagination{
    display: flex;
}


footer .pagination button{
    width: 40px;
    padding: 5px 0;
    color: var(--dark8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    border-left: none;
    margin: 0;
}

.pagination button:first-child{
    width: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--dark6);
    opacity: 0.6;
    pointer-events: none;
}

.pagination button:last-child{
    width: 85px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.pagination button.active, .pagination button:hover{
    background: var(--red1);
}


.pagination button.act:first-child{
    opacity: 1;
    pointer-events: auto;
}

.pagination button.act:last-child{
    opacity: 1;
    pointer-events: auto;
}


table tr .empty{
    padding: 6px;
    background: var(--dark9);
}



/* Popup Form */

.dark_bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}


.popup{
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    background: var(--dark6);
    transition: 0.4s;
    user-select: none;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
}

.popup header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark7);
    padding: 10px 20px;
}

.popup header .closeBtn{
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
}

.popup header .closeBtn:hover, .popup footer .submitBtn:hover{
    border-color: var(--dark7);
    transition: 0.3s;
}

.popup footer{
    border-top: 1px solid var(--dark7);
    padding: 12px 20px;
    text-align: right;
}

.popup form{
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
}


form .inputFieldContainer .nameField,
form .inputFieldContainer .ageCityField,
form .inputFieldContainer .postSalary{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

form .inputFieldContainer .nameField input,
form .inputFieldContainer .ageCityField input,
form .inputFieldContainer .postSalary input{
    min-width: 300px;
}

.inputFieldContainer .form_control{
    margin: 10px 0;
}

.inputFieldContainer .form_control label{
    display: block;
    color: var(--dark8);
    margin-bottom: 5px;
}

.form_control input{
    padding: 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.form_control input:focus,
.form_control input:valid{
    border-color: var(--dark7);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    display: none;
}


.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}